<div class="im-t image-title">
    <img src="assets/images/investor-title.png" alt="">
    <span>{{'_JoinUs' | translate | nbsp | uppercase}}</span>
</div>
<app-breadcrumb [Breadcrumb]="['_Home','_JoinUs', '_OurCustomers','_CustomerRegistration']"></app-breadcrumb>
<div class="container-equal">

    <div class="yellow-title"><p>{{"_CustomerRegistration" | translate}}</p></div>
    <!--"_Agree":"موافق",-->
    <!--"_NameEnglish":"الاسم بالانكليزي",-->
    <!--"_NameArabic":"الاسم بالعربي",-->
    <!--"_Phone":"رقم الهاتف",-->
    <!--"_Birth":"تاريخ الميلاد",-->
    <!--"EmarateID":"المعرف الاماراتي",-->
    <!--"E-mail":"الاميل",-->
    <!--"_Password":"كلمة السر",-->
    <!--"_SecurityQuestion":"السؤال السري 1",-->
    <!--"_Answer1":"الجواب 1",-->
    <!--"_Answer2":"الجواب 2",-->
    <!--"_DisclaimentStatment":"بيان إخلاء المسؤولية",-->
    <!--"_NotRobot":"اثبت انك لست رجل آلي"-->

    <div class="registration-form">
        <div class="container">
            <div class="col-sm-6">
                <div class="item">
                    <label>
                        <span>{{'_NameEnglish' | translate}}</span>
                        <input type="text">
                    </label>
                </div>
                <div class="item">
                    <label>
                        <span>{{'_NameArabic' | translate}}</span>
                        <input type="text">
                    </label>
                </div>
                <div class="item">
                    <label>
                        <span>{{'_Phone' | translate}}</span>
                    </label>
                    <!--<div class="btn-group" dropdown>-->
                        <!--<button id="button-basic" dropdownToggle type="button" class="dropdown-toggle"-->
                                <!--aria-controls="dropdown-basic">-->
                            <!--Button dropdown <span class="fa fa-angle-down"></span>-->
                        <!--</button>-->
                        <!--<ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"-->
                            <!--role="menu" aria-labelledby="button-basic">-->
                            <!--<li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>-->
                            <!--<li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>-->
                            <!--<li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>-->
                            <!--<li class="divider dropdown-divider"></li>-->
                            <!--<li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                </div>
                <div class="item">
                    <!--<label>-->
                        <!--<span>{{'_Phone' | translate}}</span>-->
                        <!--<span class="input25">00971</span>-->
                        <!--<input type="text" class="input70">-->
                    <!--</label>-->
                    <!--<span class="hint">(OTP will be sent to this mobile number)</span>-->
                </div> <div class="item">
                    <label>
                        <span>Name in English</span>
                        <span class="input25">00971</span>
                        <input type="text" class="input70">
                    </label>
                    <span class="hint">(OTP will be sent to this mobile number)</span>
                </div>
                <div class="item">
                    <label>
                        <span>{{'_Birth' | translate}}</span>
                        <span class="fa fa-calendar"></span>
                        <input type="text"
                               class="form-control"
                               #dp="bsDatepicker"
                               [bsConfig]="bsConfig"
                               bsDatepicker [(bsValue)]="myDateValue">

                    </label>
                </div>
                <div class="item">
                    <label>
                        <span>{{'EmarateID' | translate}}</span>
                        <input type="text">
                    </label>
                </div>
                <div class="item">
                    <label>
                        <span>{{'E-mail' | translate}}</span>
                        <input type="text">
                    </label>
                </div>
                <div class="item">
                    <label>
                        <span>{{'_Password' | translate}}</span>
                        <input type="text">
                    </label>
                </div>
                <div class="item">
                    <label>
                        <span>{{'_ConfirmPassword' | translate}}</span>
                        <input type="text">
                    </label>
                </div>

            </div>
            <div class="col-sm-6">
                <div class="item">
                    <label>
                        <span>{{'_SecurityQuestion' | translate}}</span>
                        <input type="text">
                    </label>
                </div>
                <div class="item">
                    <label>
                        <span>{{'_Answer2' | translate}}</span>
                        <input type="text">
                    </label>
                </div>
                <div class="item">
                    <label>
                        <span>{{'_SecurityQuestion2' | translate}}</span>
                        <input type="text">
                    </label>
                </div>
                <div class="item">
                    <label>
                        <span>{{'_Answer1' | translate}}</span>
                        <input type="text">
                    </label>
                </div>
                <div class="item">
                    <label>
                        <span>{{'_DisclaimentStatment' | translate}}</span>
                        <textarea style="height: 120px; resize: none;"></textarea>
                    </label>
                </div>
                <div class="item">
                    <img [src]="agree ? 'assets/images/agree-enable.png' : 'assets/images/agree-disable.png'"
                         style="cursor: pointer"
                         (click)="agree = !agree">
                    <span class="iagree">{{'_Agree' | translate}}</span>
                </div>
                <div class="item">
                    <label>
                        <span>{{'_NotRobot' | translate}}</span>
                    </label>
                    <app-captcha></app-captcha>
                    <label style="margin-top: 35px;">
                        <span>{{'_EnterCaptcha' | translate}}</span>
                        <input type="text">
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="read-more">
        <button style="margin: 15px 0;">
    <span>
      Send OTP
    </span>
            <img src="assets/images/arrow-read-more.png" alt=""></button>
    </div>


    <div class="yellow-title sec-b">
        <p>BACK</p>
    </div>
</div>