@import "../../../elements/forms-examples/forms-examples.component.css";

.container {
    background: #f4f4f4;
    text-align: center;
    padding: 50px;
    width: auto;
}

label {
    text-align: left;
    width: 100%;
}


.btn-group {
    width: 100%;
    display: block;
}


.fa-angle-down {
    float: right;
    margin: 15px 0;
    font-size: 20px;
}

.drop-select {
    width: 100%;
}

.fa-calendar {
    display: inline;
    position: relative;
    float: right;
    right: 20px;
    bottom: 38px;
    cursor: pointer;
}

.hint {
    color: #b0b0b0;
}

.iagree {
    display: inline-block;
    margin: 0 15px;
    font-size: 20px;
    vertical-align: middle;
}