<div class="im-t image-title">
    <img src="assets/images/investor-title.png" alt="">
    <span>{{"FAQ's" | translate | nbsp | uppercase }}</span>
</div>
<app-breadcrumb [Breadcrumb]="['_Home','_FAQ']"></app-breadcrumb>

<div class="faq-section banner_bottom container-equal">
    <div class="yellow-title">
        <p>We have the best services</p>
    </div>

    <div class="sections">
        <ul class="accordion">
            <li class="toggle">
                <div class="head active">
                    <div class="num">1</div>
                    <a class="toggle">
                        Item 1
                    </a>
                    <i class="fa fa-angle-up"></i>
                </div>
                <p class="inner show">
                    Let's make a nice big leafy tree. You have to make those little noises or it won't work. Let's put
                    some happy little clouds in our world. We don't really know where this goes - and I'm not sure we
                    really care. When you do it your way you can go anywhere you choose. No worries. No cares. Just
                    float and wait for the wind to blow you around.
                </p>
            </li>
            <li class="toggle">
                <div class="head">
                    <div class="num">2</div>
                    <a class="toggle">
                        Item 1
                    </a>
                    <i class="fa fa-angle-down "></i>
                </div>
                <p class="inner">
                    Let's make a nice big leafy tree. You have to make those little noises or it won't work. Let's put
                    some happy little clouds in our world. We don't really know where this goes - and I'm not sure we
                    really care. When you do it your way you can go anywhere you choose. No worries. No cares. Just
                    float and wait for the wind to blow you around.
                </p>
            </li>
            <li class="toggle">
                <div class="head">
                    <div class="num">3</div>
                    <a class="toggle">
                        Item 1
                    </a>
                    <i class="fa fa-angle-down "></i>
                </div>
                <p class="inner">
                    Let's make a nice big leafy tree. You have to make those little noises or it won't work. Let's put
                    some happy little clouds in our world. We don't really know where this goes - and I'm not sure we
                    really care. When you do it your way you can go anywhere you choose. No worries. No cares. Just
                    float and wait for the wind to blow you around.
                </p>
            </li>
            <li class="toggle">
                <div class="head">
                    <div class="num">4</div>
                    <a class="toggle">
                        Item 1
                    </a>
                    <i class="fa fa-angle-down "></i>
                </div>
                <p class="inner">
                    Let's make a nice big leafy tree. You have to make those little noises or it won't work. Let's put
                    some happy little clouds in our world. We don't really know where this goes - and I'm not sure we
                    really care. When you do it your way you can go anywhere you choose. No worries. No cares. Just
                    float and wait for the wind to blow you around.
                </p>
            </li>
            <li class="toggle">
                <div class="head">
                    <div class="num">5</div>
                    <a class="toggle">
                        Item 1
                    </a>
                    <i class="fa fa-angle-down "></i>
                </div>
                <p class="inner">
                    Let's make a nice big leafy tree. You have to make those little noises or it won't work. Let's put
                    some happy little clouds in our world. We don't really know where this goes - and I'm not sure we
                    really care. When you do it your way you can go anywhere you choose. No worries. No cares. Just
                    float and wait for the wind to blow you around.
                </p>
            </li>
        </ul>
    </div>

    <!--<div class="container">-->
    <!--<div class="col-sm-12 pagination-block">-->
    <!--<div class="pagination">-->
    <!--<a class="fa fa-chevron-left"></a>-->
    <!--<hr>-->
    <!--<span>-->
    <!--<a class="active">1</a>-->
    <!--<a>2</a>-->
    <!--<a>3</a>-->
    <!--<a>4</a>-->
    <!--<a>5</a>-->
    <!--<a>6</a>-->
    <!--<a>7</a>-->
    <!--<a>8</a>-->
    <!--<a>9</a>-->
    <!--<a>10</a>-->
    <!--<hr>-->
    <!--</span>-->
    <!--<hr>-->
    <!--<a class="fa fa-chevron-right"></a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
</div>




