
ul li a.toggle {
    width: 90%;
    display: inline-block;
    padding: 0;
    font-size: 24px;
    transition: background 0.3s ease;
    color: #000;
    margin: 0 15px;
    border-radius: 0;
    vertical-align: sub;
}

ul .inner {
    padding: 45px 90px;
    overflow: hidden;
    display: none;
}



.num {
    display: inline-block;
    padding: 0;
    font-weight: 800;
    font-size: 30px;
    border: 1px solid gray;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    vertical-align: middle;
    text-align: center;
}

.accordion .fa-angle-down, .accordion .fa-angle-up {
    font-size: 45px;
    cursor: pointer;
    vertical-align: bottom;
}

.head {
    padding: 15px;
}

.head.active {
    background: #f7d231;
}

.head.active .num {
    background: #000;
    color: #fff;
    border: 1px solid #fff;
}



.inner{
    font-size: inherit;
}


.sections{
    margin-bottom: 90px;
}