<div class="im-t image-title">
    <img [src]="_appService.topImage" alt="">
    <span>{{"FAQ's" | translate | nbsp | uppercase }}</span>
</div>
<app-breadcrumb [Breadcrumb]="['_Home','_FAQ']"></app-breadcrumb>

<div class="faq-section banner_bottom container-equal">
    <div class="yellow-title">
        <p>{{'_FrequentlyAskedQuestions' | translate}}</p>
    </div>

    <div class="sections">
        <ul class="accordion">
            <p class="title-faq">{{'_DealingServiceFAQ' | translate}}</p>
            <li class="toggle" *ngFor="let item of dealingSevices; let i = index">
                <div class="head active">
                    <div class="num">{{i + 1}}</div>
                    <a class="toggle">
                        {{item.Question}}
                    </a>
                    <i class="fa fa-angle-up"></i>
                </div>
                <p class="inner show" [innerHtml]="item.Answer">

                </p>
            </li>

        </ul>
    </div>

    <div class="sections">
        <ul class="accordion">
            <p class="title-faq">{{'_LicensingFAQ' | translate}}</p>
            <li class="toggle" *ngFor="let item of licences; let i = index">
                <div class="head active">
                    <div class="num">{{i + 1}}</div>
                    <a class="toggle">
                        {{item.Question}}
                    </a>
                    <i class="fa fa-angle-up"></i>
                </div>
                <p class="inner show" [innerHtml]="item.Answer">

                </p>
            </li>

        </ul>
    </div>
    <div class="yellow-title sec-b" routerLink="/home">
        <p>{{'_Back' | translate}}</p>
    </div>
    <!--<div class="container">-->
    <!--<div class="col-sm-12 pagination-block">-->
    <!--<div class="pagination">-->
    <!--<a class="fa fa-chevron-left"></a>-->
    <!--<hr>-->
    <!--<span>-->
    <!--<a class="active">1</a>-->
    <!--<a>2</a>-->
    <!--<a>3</a>-->
    <!--<a>4</a>-->
    <!--<a>5</a>-->
    <!--<a>6</a>-->
    <!--<a>7</a>-->
    <!--<a>8</a>-->
    <!--<a>9</a>-->
    <!--<a>10</a>-->
    <!--<hr>-->
    <!--</span>-->
    <!--<hr>-->
    <!--<a class="fa fa-chevron-right"></a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
</div>




