<div class="im-t image-title">
  <img src="assets/images/investor-title.png" alt="">
  <span>{{"FAQ's" | translate | nbsp | uppercase }}</span>
</div>
<app-breadcrumb [Breadcrumb]="['_Home','_FAQ']"></app-breadcrumb>


<div id="wrapper">


  <!-- Navigation
  ================================================== -->






  <div class="page-content" id="faq">
    <!-- 960 Container -->
    <div class="container">
      <h1>Frequently Asked Questions</h1>
      <!-- Twelve Columns -->

      <!-- Toggle 1 -->
      <div class="toggle-wrap">
                <span class="trigger opened"><a ><i
                        class="fa fa-angle-down"></i> How much does it cost?</a></span>
        <div class="toggle-container">
          <p>Seded ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
            laudantium, totam rem aperiam. Donec ut volutpat metus. Aliquam tortor lorem, fringilla tempor
            dignissim at, pretium et arcu.</p>
        </div>
      </div>

      <!-- Toggle 2 -->
      <div class="toggle-wrap">
        <span class="trigger"><a ><i class="fa fa-angle-down"></i> How much does it cost?</a></span>
        <div class="toggle-container">
          <p>Seded ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
            laudantium, totam rem aperiam. Donec ut volutpat metus. Aliquam tortor lorem, fringilla tempor
            dignissim at, pretium et arcu.</p>
        </div>
      </div>

      <!-- Toggle 3 -->
      <div class="toggle-wrap">
        <span class="trigger"><a ><i class="fa fa-angle-down"></i> How much does it cost?</a></span>
        <div class="toggle-container">
          <p>Seded ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
            laudantium, totam rem aperiam. Donec ut volutpat metus. Aliquam tortor lorem, fringilla tempor
            dignissim at, pretium et arcu.</p>
        </div>
      </div>

      <!-- Toggle 4 -->
      <div class="toggle-wrap">
        <span class="trigger"><a ><i class="fa fa-angle-down"></i> How much does it cost?</a></span>
        <div class="toggle-container">
          <p>Seded ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
            laudantium, totam rem aperiam. Donec ut volutpat metus. Aliquam tortor lorem, fringilla tempor
            dignissim at, pretium et arcu.</p>
        </div>
      </div>

      <!-- Toggle 5 -->
      <div class="toggle-wrap">
        <span class="trigger"><a ><i class="fa fa-angle-down"></i> How much does it cost?</a></span>
        <div class="toggle-container">
          <p>Seded ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
            laudantium, totam rem aperiam. Donec ut volutpat metus. Aliquam tortor lorem, fringilla tempor
            dignissim at, pretium et arcu.</p>
        </div>
      </div>

      <!-- Toggle 6 -->
      <div class="toggle-wrap">
        <span class="trigger"><a ><i class="fa fa-angle-down"></i> How much does it cost?</a></span>
        <div class="toggle-container">
          <p>Seded ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
            laudantium, totam rem aperiam. Donec ut volutpat metus. Aliquam tortor lorem, fringilla tempor
            dignissim at, pretium et arcu.</p>
        </div>
      </div>

      <!-- Toggle 7 -->
      <div class="toggle-wrap">
        <span class="trigger"><a ><i class="fa fa-angle-down"></i> How much does it cost?</a></span>
        <div class="toggle-container">
          <p>Seded ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
            laudantium, totam rem aperiam. Donec ut volutpat metus. Aliquam tortor lorem, fringilla tempor
            dignissim at, pretium et arcu.</p>
        </div>
      </div>

    </div>

    <!--<div class="container">-->
      <!--<div class="col-sm-12 pagination-block">-->
        <!--<div class="pagination">-->
          <!--<a class="fa fa-chevron-left"></a>-->
          <!--<hr>-->
          <!--<span>-->
                    <!--<a class="active">1</a>-->
                    <!--<a>2</a>-->
                    <!--<a>3</a>-->
                    <!--<a>4</a>-->
                    <!--<a>5</a>-->
                    <!--<a>6</a>-->
                    <!--<a>7</a>-->
                    <!--<a>8</a>-->
                    <!--<a>9</a>-->
                    <!--<a>10</a>-->
                <!--<hr>-->
                <!--</span>-->
          <!--<hr>-->
          <!--<a class="fa fa-chevron-right"></a>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  </div>
</div>


