.top_header_one {
    background-color: #f8d231;
    height: 35px;
    text-align: right;
}

.top_header_one div, i, p {
    font-size: 10px;
    display: inline-block;
    font-weight: 900;
    margin: 0 3px 3px 3px;
    color: #000;
}

.header-one-content {
    padding: 8px 65px 8px 0;
}

.top_header_two {
    height: 90px;
}

.logo-right {
    float: right;
    padding: 5px 75px;
}

.logo-left {
    float: left;
    padding: 5px 75px;
}
