<div class="top_header" id="home">

  <div class="top_header_one">
    <div class="header-one-content">
      <div>
        <i class="fa fa-lock"></i>
        <p>LOGIN</p>
      </div>
      |
      <div>
        <i class="fa fa-user"></i>
        <p>REGISTER</p>
      </div>
    </div>
  </div>
  <div class="top_header_two">
    <div class="logo-right"><img src="assets/images/logo-right.PNG" alt=""></div>
    <div class="logo-left"><img src="assets/images/logo-left.PNG" alt=""></div>
  </div>
</div>

<div class="nav">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="nav_top_fx_w3ls_agileinfo">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false"
                aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="portfolio.html">Portfolio</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">Dropdown <span class="fa fa-angle-down"></span></a>
            <ul class="dropdown-menu">
              <li><a href="portfolio.html">Projects</a></li>
              <li><a href="404.html">Services</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="search">
        <i class="fa fa-search"></i>
        <input type="text" id="navbar-search" placeholder="search">
       <ul class="nav navbar-nav lang-switch">
         <li class="dropdown">
           <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
              aria-expanded="false"
              *ngIf="_appService.currentLanguage == 'ar'">
             عربي <span class="fa fa-angle-down"></span>
           </a>
           <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
              aria-expanded="false"
              *ngIf="_appService.currentLanguage == 'en'">
             English <span class="fa fa-angle-down"></span>
           </a>
           <ul class="dropdown-menu lang-options">
             <li><a *ngIf="_appService.currentLanguage == 'en'" (click)="_appService.switchLanguage('ar')">عربي</a></li>
             <li><a *ngIf="_appService.currentLanguage == 'ar'" (click)="_appService.switchLanguage('en')">English</a></li>
           </ul>
         </li>
       </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>
</div>