.head-cont h5 {
    display: inline-block;
    cursor: pointer;
}

.seperate {
    display: inline-block;
    font-size: 15px;
    margin: 0 8px;
    border-right: 1px solid #969292;
    height: 14px;
    vertical-align: sub;
    font-weight: 100;
}



