<div class="top_header" id="home">

    <div class="top_header_one">
        <!--<div class="header-one-content">-->
            <!--<div class="head-cont">-->
                <!--<i class="fa fa-lock"></i>-->
                <!--<h5>{{'_Login' | translate}}</h5>-->
            <!--</div>-->
            <!--<div class="seperate">-->
            <!--</div>-->
            <!--<div class="head-cont">-->
                <!--<i class="fa fa-user"></i>-->
                <!--<h5>{{'_Register' | translate}}</h5>-->
            <!--</div>-->
        <!--</div>-->
    </div>
    <div class="top_header_two">
        <div class="logo-right"><img src="assets/images/logo-right.PNG" alt=""></div>
        <div class="logo-left" routerLink="/home" style="cursor: pointer"><img src="assets/images/logo-left.PNG" alt=""></div>
    </div>
</div>

<div class="nav">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="nav_top_fx_w3ls_agileinfo">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false"
                        aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav li">
                    <ng-container *ngFor="let nav of navbar; let i = index">
                        <li *ngIf="navbar[i]['RelatedEntities'] == ''" routerLinkActive="active"
                            [routerLink]="'/' + nav?.Description" (click)="goToRoute()">
                            <a>{{nav?.Title}}</a>
                        </li>
                        <li *ngIf="navbar[i]['RelatedEntities'] != '' && navbar[i]['UniqueName'] != 'media.center'" class="dropdown" routerLinkActive="active">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">{{nav?.Title}} <span class="fa fa-angle-down"></span></a>
                            <ul class="dropdown-menu">
                                <li *ngFor="let snav of nav?.RelatedEntities" (click)="goToRoute()"
                                    [routerLink]="'/' + snav.Description"><a>{{snav?.Title}}</a>
                                </li>
                            </ul>
                        </li>
                        <li *ngIf="navbar[i]['UniqueName'] == 'media.center'" class="dropdown" routerLinkActive="active">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" routerLink="/media-center"
                               aria-expanded="false">{{nav?.Title}} <span class="fa fa-angle-down"></span></a>
                            <ul class="dropdown-menu">
                                <li *ngFor="let snav of nav?.RelatedEntities" (click)="goToRoute()"
                                    [routerLink]="'/' + snav.Description"><a>{{snav?.Title}}</a>
                                </li>
                            </ul>
                        </li>
                    </ng-container>
                </ul>
            </div>
            <div class="search">
                <ul class="nav navbar-nav lang-switch">
                    <li class="dropdown">
                        <a class="dropdown-toggle ar" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false"
                           *ngIf="_appService.currentLanguage == 'ar'">
                            عربي <span class="fa fa-angle-down"></span>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false"
                           *ngIf="_appService.currentLanguage == 'en'">
                            English <span class="fa fa-angle-down"></span>
                        </a>
                        <ul class="dropdown-menu lang-options ar">
                            <li><a *ngIf="_appService.currentLanguage == 'en'"
                                   (click)="_appService.switchLanguage('ar')">عربي</a></li>
                            <li><a *ngIf="_appService.currentLanguage == 'ar'"
                                   (click)="_appService.switchLanguage('en')">English</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="searching">
                    <input type="text" id="navbar-search" [(ngModel)]="home.keyword"  placeholder="{{'_Search' | translate }}">
                    <i class="fa fa-search" (click)="search()"></i>
                </div>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
</div>
