<div class="im-t image-title">
    <img src="assets/images/investor-title.png" alt="">
    <span>{{'_AboutTawseel' | translate | nbsp | uppercase}}</span>
</div>
<app-breadcrumb [Breadcrumb]="['_Home','_JoinUs', '_OurCustomers']"></app-breadcrumb>

<div class="container-equal" *ngIf="customer">
    <div class="yellow-title"><p>{{customer?.Title}}</p></div>
    <div>
        <img [src]="customer?.MainImageFullURL" width="100%">
    </div>

    <div class="section steps-s">
       <div class="desktop-mohre">
           <div class="col-70 col-m" style="padding-right: 75px; vertical-align: middle;">
               <div class="yellow-title"><p [innerHtml]="customer?.Description"></p></div>
               <div class="mohre sec-x">
                   <p [innerHtml]="customer.Content"></p>

                   <div class="steps">
                       <div class="step">
                           <div class="col-m">
                               <span class="numbering">1</span>
                           </div>
                           <div class="th">
                               <p [innerHtml]="customer?.RelatedEntities[0].Title"> </p>
                           </div>
                       </div>
                       <div class="step">
                           <div class="col-m">
                               <span class="numbering">2</span>
                           </div>
                           <div class="th">
                               <p [innerHtml]="customer?.RelatedEntities[1].Title"></p>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
           <div class="col-30 col-m" style="text-align:right;margin-top: -30px;">
               <img [src]="customer?.RelatedEntities[0].FullUrl" style="width: 100%;">
           </div>
       </div>
        <div class="mobile-mohre">
            <div class="first">
                <img [src]="customer?.RelatedEntities[0].FullUrl" style="width: 50%;">
            </div>
            <div class="second">
                <div class="yellow-title"><p [innerHtml]="customer?.Description"></p></div>
                <div class="mohre sec-x">
                    <p [innerHtml]="customer?.content"></p>

                    <div class="steps">
                        <div class="step">
                            <div class="col-m">
                                <span class="numbering">1</span>
                            </div>
                            <div class="th">
                                <p [innerHtml]="customer?.RelatedEntities[0].Title"> </p>
                            </div>
                        </div>
                        <div class="step">
                            <div class="col-m">
                                <span class="numbering">2</span>
                            </div>
                            <div class="th">
                                <p [innerHtml]="customer?.RelatedEntities[1].Title"></p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="yellow-title sec-b">
        <p>{{'_Back' | translate}}</p>
    </div>
</div>
