
/*.fa-calendar {*/
    /*display: inline;*/
    /*position: relative;*/
    /*float: right;*/
    /*right: 20px;*/
    /*bottom: 38px;*/
    /*cursor: pointer;*/
/*}*/

/*.item {*/
    /*display: inline-block;*/
    /*width: 26%;*/
    /*vertical-align: top;*/
    /*margin: 0 10px;*/
    /*text-align: left;*/
/*}*/

.filter-search {
    padding: 45px 5px;
}

label {
    width: 100%;
    margin: 0 5px;
}

.btn-main {
    margin: 25px;
    display: inline-block;
    color: #fff;
}

.yellow-title p {
    margin: 5px 15px 40px;
}


.news-card p {
    margin-top: 10px;
}

.container-equal {
    padding-top: 20px;
}

.page {
    display: inline-block;
    padding: 0px 9px;
    margin-right: 4px;
    border-radius: 3px;
    font-size: .875em;
    font-weight: bold;
    text-decoration: none;
    color: #717171;
}


.page:hover, .page.gradient:hover {
    background: #fefefe;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));
    background: -moz-linear-gradient(0% 0% 270deg, #FEFEFE, #f0f0f0);
}



.disabled-arrow{
    pointer-events: none;
    background-color: #bbb8ac !important;

}

.news-card p{
    max-height: 210px;
    overflow: hidden;
    height: 210px;
}