<div class="im-t image-title">
    <img [src]="_appService.topImage" alt="">
    <span>{{'_MediaCenter' | translate | nbsp | uppercase }}</span>
</div>
<app-breadcrumb [Breadcrumb]="['_Home', '_MediaCenter' , '_News']"></app-breadcrumb>


<div class="container-equal">
    <div class="filter-search" [style.background]="'url(assets/images/bg-gray.png)'">
        <div class="yellow-title">
            <p>{{'_FilterNews' | translate}}</p>
        </div>
        <div class="item">
            <label>
                <span>{{'_Keyword' | translate}}</span>
                <input type="text" [(ngModel)]="news.keyword" (keyup)="getAllNews()">
            </label>
        </div>
        <div class="item">
            <label>
                <span>{{'_DateFrom' | translate}}</span>
                <input type="text"
                       class="form-control"
                       #dp="bsDatepicker"
                       [min]="minDate" [max]="maxDate"
                       [bsConfig]="bsConfig"
                       bsDatepicker [(bsValue)]="news.startDate">
                <span class="fa fa-calendar"></span>
            </label>

        </div>
        <div class="item">
            <label>
                <span>{{'_DateTo' | translate}}</span>
                <input type="text"
                       class="form-control"
                       [min]="minDate" [max]="maxDate"
                       #dp="bsDatepicker"
                       [bsConfig]="bsConfig"
                       bsDatepicker [(bsValue)]="news.endDate">
                <span class="fa fa-calendar"></span>
            </label>

        </div>
        <div class="btn-main">
            <button (click)="searchNews(0)">
                {{'_Search' | translate }}

            </button>
        </div>
    </div>
    <div class="col-sm-12 middle middle-block not-found" *ngIf="newsList == ''"
         [style.border]="newsList == '' ? 'none' : ''">
        {{'_NotFoundResult' | translate}}
    </div>
    <div class="news-results">
        <div class="news-card" *ngFor="let news of newsList" [routerLink]="['/details' , news.UniqueName]">
            <img [src]="news.MainImageFullURL" width="100%">
            <p>{{news.Summary}}</p>
            <span>{{_appService.getNormalDate(news.NewsDate) | date:'EEEE, MMMM d, y' }}</span>
        </div>
    </div>

    <div class="col-sm-12" style="text-align: center" *ngIf="pageCount > 0 ">
        <div class="pagination" *ngIf="_appService.currentLanguage == 'en'">
            <a class="page fa fa-angle-left" [ngClass]="pageCount <= 5 || startPage == 0 ? 'disabled-arrow' : ''"
               (click)="previousPage()"
            ></a>


            <a class="page" *ngFor="let page of pageCountArray | slice: startPage: endPage ; let i = index"
               (click)="searchNews(i)" [ngClass]=" activePage === i ? 'active-page' : ''" style="cursor: pointer">{{page}}</a>

            <a class="page fa fa-angle-right" [ngClass]="pageCount <= 5 || endPage == pageCount ? 'disabled-arrow' : ''"
               (click)="nextPage()"></a>

        </div>
        <div class="pagination" *ngIf="_appService.currentLanguage == 'ar'">
            <a class="page fa fa-angle-right" [ngClass]="pageCount <= 5 || startPage == 0 ? 'disabled-arrow' : ''"
               (click)="previousPage()"
            ></a>


            <a class="page" *ngFor="let page of pageCountArray | slice: startPage: endPage ; let i = index"
               (click)="searchNews(i)" [ngClass]=" activePage === i ? 'active-page' : ''" style="cursor: pointer">{{page}}</a>

            <a class="page fa fa-angle-left" [ngClass]="pageCount <= 5 || endPage == pageCount ? 'disabled-arrow' : ''"
               (click)="nextPage()"></a>

        </div>
    </div>


    <div class="yellow-title sec-b" routerLink="/home">
        <p>
            {{'_Back' | translate }}
        </p>
    </div>
</div>
