<swiper class="swiper-container" [config]="config" (indexChange)="getIndex($event)" [index]="2" id="slider">
    <div *ngFor="let slide of imageUrls; let i = index" class="swiper-slide" [id]="i">
        <div>
            <mat-card class="card-content">
                <img mat-card-image [src]="slide?.FullUrl">
            </mat-card>
        </div>
    </div>
</swiper>

<mat-card class="information-container">
    <mat-card-content>
        <h3 class="text-grey-darken3 font-size-28 bold text-center"> {{imageUrls[indexInformation]?.Title}}</h3>
        <p class="text-grey-darken1 font-size-16 text-center" [innerHTML]="imageUrls[indexInformation]?.Description"></p>
        <div class="divider"></div>
    </mat-card-content>
    <mat-card-actions>
        <div class="d-flex flex-row row-hl justify-content-center">
            <div class="read-more">
                <button>
                    <span>Learn More</span>
                    <img src="assets/images/arrow-read-more.png">
                </button>
            </div>
        </div>
    </mat-card-actions>
</mat-card>