<swiper class="swiper-container" [config]="config" (indexChange)="getIndex($event)" [index]="2" id="slider" *ngIf="imageUrls">
    <div *ngFor="let slide of imageUrls; let i = index" class="swiper-slide" [id]="i">
        <div>
            <mat-card class="card-content">
                <div class="overlay"></div>
                <img mat-card-image [src]="slide?.MainImageFullURL">
                <span class="card-content-date">{{_appService.getNormalDate(slide.NewsDate) | date: 'M/d/y'}}</span>
                <span class="card-content-description">{{slide.Title}}</span>
            </mat-card>
        </div>
    </div>
</swiper>

<mat-card class="information-container">
    <mat-card-content>
        <h3 class="text-grey-darken3 font-size-28 bold text-center" style="cursor: pointer" [routerLink]="['/details' , imageUrls[indexInformation]?.UniqueName]"> {{imageUrls[indexInformation]?.Title}}</h3>
        <p  class="text-grey-darken1 font-style font-size-16 text-center" [innerHTML]="imageUrls[indexInformation]?.Summary"></p>
        <div class="divider"></div>
    </mat-card-content>
    <mat-card-actions>
        <div class="d-flex flex-row row-hl justify-content-center" [routerLink]="['/details' , imageUrls[indexInformation]?.UniqueName]">
            <div class="read-more">
                <button>
                    <span>{{'_ReadMore' | translate }}</span>
                    <img src="assets/images/arrow-read-more.PNG">
                </button>
            </div>
        </div>
    </mat-card-actions>
</mat-card>
