
.swiper-slide-active {
    filter: grayscale(0) !important;
    zoom: 1.2;
    opacity: 1 !important;
}

.swiper-slide {
    filter: grayscale(1);
    opacity: 0.5;
}

.swiper-slide:not(.swiper-slide-active) {
    margin: 25px 0;
}

.information-container {
    padding: 0 30%;
    height: 12em;
}

.swiper-slide img {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    cursor: grab;
}

