<!--Load Css and JS Files Based On Language-->
<ng-container *ngIf="_appService.currentLanguage == 'ar'">
  <link rel="stylesheet" type="text/css" href="/assets/css/rtl/bootstrap-ar.css">
  <script src="/assets/js/rtl/bootstrap-ar.min.js"></script>
</ng-container>

<ng-container *ngIf="_appService.currentLanguage == 'en'">
  <link rel="stylesheet" type="text/css" href="/assets/css/ltr/bootstrap.min.css">
  <script src="/assets/js/ltr/bootstrap.min.js"></script>
</ng-container>

<div style="text-align:center">
  <button (click)="_appService.switchLanguage('ar')">Arabic</button>
  <button (click)="_appService.switchLanguage('en')">English</button>
</div>
