<ng-progress></ng-progress>
<ng-container>
    <link rel="stylesheet" type="text/css" [href]="styles.bootstrap | safe: 'resourceUrl'">
    <link rel="stylesheet" type="text/css" [href]="styles.style | safe: 'resourceUrl'">
    <link rel="stylesheet" type="text/css" [href]="styles.components | safe: 'resourceUrl'">
    <link rel="stylesheet" type="text/css" [href]="styles.responsive | safe: 'resourceUrl'">
</ng-container>
<ngx-loading [show]="_appService.loading" [config]="{animationType: ngxLoadingAnimationTypes.wanderingCubes, primaryColour: primaryColour, secondaryColour: secondaryColour, backdropBorderRadius: '3px'}"
             [template]="loadingTemplate"></ngx-loading>
<router-outlet></router-outlet>
