<div class="im-t image-title">
    <img src="assets/images/investor-title.png" alt="">
    <span>INVESTOR</span>
</div>

<app-breadcrumb [Breadcrumb]="['Home','Join Us','Investor']"></app-breadcrumb>
<div class="container-equal">

    <div class="yellow-title"><p>Investor</p></div>

    <div class="inv">
        <img src="assets/images/placeholder.png" width="100%">
    </div>
    <div class="btn-main">
        <button>
            Register
        </button>
    </div>

    <div class="yellow-title sec-b">
        <p>BACK</p>
    </div>

</div>