<div class="im-t image-title">
    <img src="assets/images/investor-title.png" alt="">
    <span>{{'_Investor' | translate | nbsp | uppercase}}</span>
</div>

<app-breadcrumb [Breadcrumb]="['_Home','_JoinUs','_Investor']"></app-breadcrumb>
<div class="container-equal">

    <div class="yellow-title"><p>{{'_Investor' | translate}}</p></div>

    <div class="inv">
        <img src="assets/images/placeholder.png" width="100%">
    </div>
    <div class="btn-main">
        <button>
            {{'_Register' | translate }}

        </button>
    </div>

    <div class="yellow-title sec-b">
        <p>            {{'_Back' | translate }}
        </p>
    </div>

</div>