
<div class="im-t image-title">
  <img [src]="_appService.topImage" alt="">
  <span>{{'_MediaCenter' | translate | nbsp | uppercase }}</span>
</div>

<app-breadcrumb [Breadcrumb]="[{title: '_Home', route: '/home'},
                               {title: '_MediaCenter', route: '/media-center'},
                               {title: '_News', route: '/news'},
                               {title: '_Details', route: '/details/' + uniqueName}]"></app-breadcrumb>




<div class="container-equal">

  <ng-container>
    <!--Desktop View-->
    <div class="desktop-mohre">
      <div class="col-70 col-m f" style="padding-right: 75px;">
        <div class="details-title"><p>{{details?.Summary}}</p></div>
        <div class="details-date">{{_appService.getNormalDate(details.NewsDate) | date:'EEEE, MMMM d, y'}}</div>
        <div class="mohre sec-x font-style" >
          <p [innerHtml]="details.Content">
          </p>
        </div>
      </div>
      <div class="col-30 col-m" style="vertical-align: top; text-align:left;margin-top: -30px;">
        <img class="details-img" [src]="details?.MainImageFullURL" style="width: 100%;">
      </div>
    </div>

</ng-container>



  <div class="yellow-title sec-b" >
    <p (click)="_appService.goBackBrowser()">{{'_Back' | translate}}</p>
  </div>
</div>
