
section {
    padding-top: 180px;
}

.media {
    padding-bottom: 30px;
}

.left {
    padding-top: 10px;
}

.left h2 {
    margin-bottom: 0;
}

.col-sm-6 {
    padding-bottom: 10px;
}

.content {
    padding: 0;
}

.TOS h2 {
    color: #7b7b7b !important;
}

.fa {
    margin: 0 5px
}

.side-route span {
    color: white;
}

.side-route li {
    padding: 5px 0;
}

.active-route i {
    float: right;
    margin-top: 5px;
    font-size: 10px;
}

.active-route span {
    color: black;
}

.title-content {
    margin: 0;
    color: #ff9a44;
}

.news-title {
    color: #ff9a44;
    font-weight: 700;
}

.text-content {
    margin: 10px 0;
}

.side-route {
    padding: 0;
}

.select {
    width: 100%;
    padding: 8px 10px;
    margin-top: -0.875px;
    color: gray;
}

.input {
    display: block;
    padding: 5px 15px;
    width: 100%;
}
background
.with-background {
    margin-left: 0;
    margin-right: 0;
    /*background-image: url(../../../assets/images/achievements/achieve1.png);*/
    width: 100%;
    height: auto;
}

.date-picker {
    display: flex;
    align-items: center;
}

.btn-main {
    padding: 2px 50px;
}

.middle {
    padding: 10px 5px;
    display: flex;
    flex-flow: column;
}

.middle-block {
    border-bottom: 1px solid #d2d2d2c9;
    display: flex;
}

.head-block {
    flex-flow: unset;
}

.buttons {
    margin-bottom: 40px;
    opacity: 1;
    transition: all 2s ease-in-out;
}

.options-search {
    border-top: 2px solid #d2d2d2c9;
    padding-top: 20px;
    opacity: 1;
    transition: all 2s ease-in-out;
}

.search-main-container {
    margin: 0 20px;
}

h5 {
    font-size: 25px;
    margin: 0;
}

.fa-minus-square, .fa-plus-square {
    font-size: 25px;
    cursor: pointer;
}

.head-search {
    margin: 25px 0;
    color: #000;
}

.pagination {
    background-image: linear-gradient(#ff9a44 48%, #fc6076 141%);
    box-shadow: 4.62px 5.785px 0 0 rgba(0, 0, 0, 0.13);
    border-radius: 30px;
    display: inline-flex;
    align-items: center;
    width: auto;
    justify-content: center;
}

.pagination a {
    color: white;
    float: left;
    padding: 15px;
    text-decoration: none;
}

.pagination hr {
    margin: 0;
    vertical-align: middle;
    display: inline-block;
    width: 1px;
    background: linear-gradient(#ffffff1f, #ffffff70);
    height: 40px;
    border: 1px #a19280;
}

.pagination a.active {
    background-color: #5a4834;
}

.pagination-block {
    text-align: center;
}

.read-more {
    color: #e0532d;
    cursor: pointer;
    display: inline;
    margin-top: auto;
}

.read-more:hover {
    text-decoration: underline;
}

.read-more:focus {
    outline: none;
}


section {
    padding-top: 180px;
}

.media {
    padding-bottom: 30px;
}

.left {
    padding-top: 10px;
}

.left h2 {
    margin-bottom: 0;
}

.col-sm-6 {
    padding-bottom: 10px;
}

.content {
    padding: 0;
}

.TOS h2 {
    color: #7b7b7b !important;
}

.fa {
    margin: 0 5px
}

.side-route span {
    color: white;
}

.active .side-route span{
    color:#000;
}


.side-route li {
    padding: 5px 0;
    cursor: pointer;
}

.title-content {
    margin: 0;
    color: #ff9a44;
}

.text-content {
    margin: 10px 0;
}

.side-route {
    padding: 0;
}

.select {
    width: 100%;
    padding: 8px 10px;
    margin-top: -0.875px;
    color: gray;
}

.input {
    display: block;
    padding: 5px 15px;
    width: 100%;
}

.with-background {
    margin-left: 0;
    margin-right: 0;
    /*background-image: url(../../../assets/images/achievements/achieve1.png);*/
    width: 100%;
    height: auto;
}

.date-picker {
    display: flex;
    align-items: center;
}

.btn-main {
    padding: 2px 50px;
}

.middle {
    padding: 10px 5px;
}

.middle-block {
    border-bottom: 1px solid #d2d2d2c9;
}

.buttons {
    margin-bottom: 40px;
    opacity: 1;
    transition: all 2s ease-in-out;
}

.options-search {
    border-top: 2px solid #d2d2d2c9;
    padding-top: 20px;
    opacity: 1;
    transition: all 2s ease-in-out;
}

.search-main-container {
    margin: 0 20px;
}

h5 {
    font-size: 25px;
    margin: 0;
}

.fa-minus-square, .fa-plus-square {
    font-size: 25px;
    cursor: pointer;
}

.head-search {
    margin: 25px 0;
    color: #000;
}

.pagination {
    background-image: linear-gradient(#ff9a44 48%, #fc6076 141%);
    box-shadow: 4.62px 5.785px 0 0 rgba(0, 0, 0, 0.13);
    border-radius: 30px;
    display: inline-flex;
    align-items: center;
    width: auto;
    justify-content: center;
}

.pagination a {
    color: white;
    float: left;
    padding: 15px;
    text-decoration: none;
}

.pagination hr {
    margin: 0;
    vertical-align: middle;
    display: inline-block;
    width: 1px;
    background: linear-gradient(#ffffff1f, #ffffff70);
    height: 40px;
    border: 1px #a19280;
}

.pagination a.active {
    background-color: #5a4834;
}

.active span {
    color: #000 !important;
}

.active i {
    float: right;
    margin-top: 5px;
    font-size: 10px;
}

.pagination-block {
    text-align: center;
}


.not-found{
    font-size: 25px;
    color: #86888a;
    align-items: center;
    margin: 45px 0 -24px 0;
}
