<div class="im-t image-title">
    <img [src]="_appService.topImage" alt="">
    <span>{{'_AboutTaw-Seel' | translate | uppercase | nbsp}}</span>
</div>
<app-breadcrumb [Breadcrumb]="[{title: '_Home', route: '/home'},
                               {title: '_AboutTaw-Seel', route: ''}]"></app-breadcrumb>

<div class="container-equal">

    <ng-container>
        <!--Desktop View-->
        <div class="desktop-mohre-f">
            <div class="col-70 col-m f" style="padding-right: 75px;">
                <div class="yellow-title"><p>{{services?.Title}}</p></div>
                <div class="mohre sec-x font-style" [innerHtml]="services?.Content">

                </div>
            </div>
            <div class="col-30 col-m" style="vertical-align: top; text-align:right;margin-top: -30px;">
                <img [src]="services?.MainImageFullURL" style="width: 90%;">
            </div>
        </div>

        <!--Mobile View-->
        <div class="mobile-mohre">
            <div>
                <img [src]="services?.MainImageFullURL" style="width: 70%;">
            </div>
            <div class="f">
                <div class="yellow-title"><p>{{services?.Title}}</p></div>
                <div class="mohre sec-x font-style" [innerHtml]="services?.Content">
                </div>
            </div>
        </div>
    </ng-container>

    <ng-container>
        <!--Desktop View-->
        <div class="desktop-mohre">
            <div class="col-30 col-m">
                <img [src]="about?.MainImageFullURL" style="width: 90%;">
            </div>
            <div class="col-70 col-m title-p">
                <div>
                    <h3>{{about?.Title}}</h3>
                </div>
                <p class="font-style" [innerHtml]="about?.Content"></p>
            </div>
        </div>
    </ng-container>

    <ng-container>
        <!--Mobile View-->
        <div class="mobile-mohre">
            <div>
                <img [src]="about?.MainImageFullURL" style="width: 70%;">
            </div>
            <div class="title-p">
                <div>
                    <h3>{{about?.Title}}</h3>
                </div>
                <p class="font-style" [innerHtml]="about?.Content"></p>
            </div>
        </div>
    </ng-container>

    <div class="cards-container container-equal">
        <div class="card">
                <div class="item  col-20 col-m" *ngFor="let item of about?.RelatedEntities">
                <img [src]="item.FullUrl" width="80%">
                <div class="yellow-title">
                    <p>{{item?.Title}}</p>
                </div>
                <p class="font-style"  [innerHtml]="item?.Description">
                </p>
            </div>
        </div>
    </div>

    <div class="yellow-title sec-b" >
    <p (click)="_appService.goBackBrowser()">{{'_Back' | translate}}</p>
</div>


</div>
