.highlight {
    margin: 25px 0;
}



.user-card img {
    margin: 30px auto;
    width: auto;
    display: block;
    text-align: center;
    height: 165px;
}

.user-card {
    font-size: 32px;
    font-weight: bold;
}

.user-card p {
    font-size: 25px;
    font-weight: normal;
    color: #494949;
    font-family: 'sf-compact-display-medium', sans-serif;
}

/*.user-card div {*/
    /*display: inline-block;*/
    /*background-color: #fff;*/
    /*padding: 0 5px;*/
    /*height: 340px;*/
    /*width: 352px;*/
    /*margin-right: 51px;*/
    /*border-radius: 10px;*/
/*}*/

.feedback-slider {
    text-align: center;
}


.feedback-slider .item img {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    margin-bottom: 15px;
}

.c-feedback .yellow-title {
    text-align: center;
}



.dot {
    background-color: #b0afaf;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin: 0 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
}

.controls{
    /*margin-top: 55px !important;*/
    text-align: center;
}

.dot.active {
    background-color: #f7d231;
}

.slider-facebook .fa-play-circle-o {
    position: absolute;
    font-size: 55px;
    color: #fff;
    z-index: 1;
    top: 50%;
    right: 50%;
    cursor: pointer;
    -webkit-transform: translate(100%, -60%);
    -ms-transform: translate(100%, -60%);
    transform: translate(100%, -60%);
}
