<div class="footer_tawseel">
    <div class="top-footer">
        <div class="item">
           <span class="head">
                <h4>Smart Apps:</h4> <span> For smart service</span>
           </span>
            <img src="assets/images/app-store.png" alt="">
            <img src="assets/images/google-play.png" alt="">
        </div>
        <div class="item">
            <span class="head">
                <h4>Work Timing</h4>
            </span>
            <div class="time">
                <i class="fa fa-clock-o"></i>
            </div>
            <div class="time-details">
                <span>Sunday to Thursday<br>
                7:30am - 2:30pm</span>
            </div>
        </div>
        <div class="item quick-links">
            <h4>Quick Links</h4>
            <ul>
                <li>ABOUT US</li>
                <li>SERVICES</li>
                <li>FAQ</li>
                <li>PRIVACY STATEMENT</li>
            </ul>
        </div>
        <div class="item follow-us">
            <h4>Follow Us</h4>
            <i class="fa fa-arrow-up" (click)="scrollUp()"></i>
            <div class="social">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-youtube"></i>
                <i class="fa fa-instagram"></i>
                <i class="fa fa-linkedin"></i>
                <i class="fa fa-google-plus"></i>
            </div>
        </div>
    </div>
    <div class="col-sm-12 bottom-footer">
        <p class="copy-right">
            <span>Page last updated on: August 24 2016 at 10:38     |      Total Visitors: 3434256</span>
            <span>This site is best viewed in Screen Resolution 1024 x 764 Supports Microsoft Internet Explorer 9.0+, Firefox 2.0+, Safari 4.0+, Opera 6.0+, Chrome</span>
            <span>© Copyright 2019 Taw-seel All rights reserved</span>
        </p>
    </div>
</div>
