.bottom-footer {
    background-color: #f7d231;
}

.follow-us .fa {
    cursor: pointer;
}

.item ul {
    list-style: none;
}

.item li {
    margin: 5px 0;
    cursor: pointer;
}

.item .time-details {
    display: inline-block;
}

.copy-right span {
    display: block;
    color: #000;
}

.footer_tawseel h4, h3 {
    display: inline;
}

.head {
    display: block;
}