<div class="footer_tawseel">
    <div class="top-footer">
        <div class="item">
           <span class="head">
                <h4>{{'_SmartApps' | translate}}</h4> <span> {{'_ForSmartService' | translate}}</span>
           </span>
            <img src="assets/images/app-store.png" alt="">
            <img src="assets/images/google-play.png" alt="">
        </div>
        <div class="item">
            <span class="head">
                <h4>{{'_WorkTiming' | translate}}</h4>
            </span>
            <div class="time">
                <i class="fa fa-clock-o"></i>
            </div>
            <div class="time-details">
                <span>{{'_SundayToThursday' | translate}}<br>
               {{'_Time'  | translate}}</span>
            </div>
        </div>
        <div class="item quick-links">
            <h4>{{'_QuickLinks' | translate}}</h4>
            <ul>

                <li>{{'_AboutUs' | translate}}</li>
                <li>{{'_Services' | translate}}</li>
                <li>{{'_FAQ' | translate}}</li>
                <li>{{'_PrivacyStatment' | translate}}</li>
            </ul>
        </div>
        <div class="item follow-us">
            <h4>{{'_FollowUs' | translate}}</h4>
            <i class="fa fa-arrow-up" (click)="scrollUp()"></i>
            <div class="social">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-youtube"></i>
                <i class="fa fa-instagram"></i>
                <i class="fa fa-linkedin"></i>
                <i class="fa fa-google-plus"></i>
            </div>
        </div>
    </div>
    <div class="col-sm-12 bottom-footer">
        <p class="copy-right">
            <span>{{ '_TotalVisitor' | translate}}</span>
            <span>{{ '_Offer' | translate}}</span>
            <span>{{ '_CopyRight' | translate}}</span>
        </p>
    </div>
</div>
