<div class="slider-show" *ngIf="appendSlider">
    <app-slideshow [imageUrls]="mainSlider"></app-slideshow>
</div>

<div class="join-us-section highlight">
    <div class="yellow-title">
        <p>{{'_JoinUs' | translate}}</p>
    </div>
    <div class="user-card">
        <div>
            <img src="assets/images/investor.PNG" alt="">
            <p>{{'_AreYouInvestor' | translate}}</p>
        </div>
        <div>
            <img src="assets/images/agent.PNG" alt="">
            <p>{{'_AreYouAgent' | translate}}</p>
        </div>
        <div>
            <img src="assets/images/customer.PNG" alt="">
            <p>{{'_AreYouCustomer' | translate}}</p>
        </div>
    </div>

</div>

<div class="banner_bottom">
    <div class="yellow-title">
        <p>{{'_HowItWorks' | translate}}</p>
    </div>
    <div class="work-card">
        <div id="service">
            <img src="assets/images/service.PNG" alt="">
            <span>{{'_ApplyForService' | translate}}</span>
            <p>{{'_Online' | translate}}</p>
        </div>
        <div id="arrow-left">
            <img src="assets/images/arrow-left.PNG" alt="">
        </div>
        <div id="van">
            <img src="assets/images/van.PNG" alt="">
            <span>{{'_VanComesTo' | translate}}</span>
            <p>{{'_Location' | translate}}</p>
        </div>
        <div id="arrow-right">
            <img src="assets/images/arrow-right.PNG" alt="">
        </div>
        <div id="agent-service">
            <img src="assets/images/agent-service.PNG" alt="">
            <span>{{'_AgentServes' | translate}}</span>
            <p>{{'_Customer' | translate}}</p>
        </div>
    </div>
</div>

<div class="about highlight">
    <div class="about-left">
        <div class="yellow-title">
            <p>{{'_About' | translate}}</p>
        </div>
        <div class="about-content font-style">
            <p [innerHtml]="about?.Content">

            </p>
        </div>
        <div class="read-more" routerLink="/about-us">
            <button style="margin: 15px 0;">
                <span>{{'_ReadMore' | translate }}</span>
                <img src="assets/images/arrow-read-more.png" alt=""></button>
        </div>
    </div>

    <div class="about-right">
        <img src="assets/images/car.png" alt="">
    </div>
</div>

<div class="banner_bottom" style="    padding-bottom: 0;">
    <div class="yellow-title">
        <p>{{'_LatestNews' | translate}}</p>
    </div>
    <div>
        <app-swiper *ngIf="appendNews" [imageUrls]="newsSlider"></app-swiper>
    </div>
</div>

<div class="social highlight for-tab">
    <div class="col-m col-40 line complaints-mobile">
        <div class="com-sug">
            <div class="complaints"  style="cursor: pointer" routerLink="/contact-us">
                <div class="info-card">
                    <h1>{{'_Complaints' | translate}}</h1>
                    <p class="b-par">{{'_TellUsAboutYourComplaint' | translate}}</p>
                    <span class="w-more">{{'_ApplyMore' | translate | lowercase}} <i
                            [ngClass]="_appService.currentLanguage == 'en' ? 'fa fa-long-arrow-right' : 'fa fa-long-arrow-left'"></i></span>
                </div>
            </div>
            <div class="suggestion"  style="cursor: pointer" routerLink="/contact-us">
                <div class="info-card">
                    <h1>{{'_Suggestion' | translate}}</h1>
                    <p class="b-par">{{'_TellUsAboutYourSuggestion' | translate}}</p>
                    <span class="w-more">{{'_ApplyMore' | translate | lowercase}} <i [ngClass]="_appService.currentLanguage == 'en' ? 'fa fa-long-arrow-right' : 'fa fa-long-arrow-left'"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-m col-60 ins-fac" style="vertical-align: top;">
        <div class="col-m col-50 ins">
            <div class="head">
                <img src="assets/images/instagram.png" alt="">
                <h5 class="t">{{'_Instagram' | translate}}</h5>
            </div>
            <div class="slider-insta">
                <app-xgallery *ngIf="appendXslider" [imageUrls]="xSlider"></app-xgallery>
            </div>
        </div>
        <div class="col-m col-50 fac" style="vertical-align: bottom;">
            <ng-container *ngFor="let vid of videoSlider; let i = index">
                <div *ngIf="i == videoIndex" [@fadeInOut]>
                    <div class="head">
                        <img src="assets/images/facebook.png" alt="">
                        <h5 class="t">{{'_Facebook' | translate}}</h5>
                    </div>
                    <div class="slider-facebook">
                        <i class="fa fa-play-circle-o"></i>
                        <div class="videos">
                            <div class="overlay"></div>
                            <img [src]="vid.FullUrl">
                        </div>
                    </div>
                    <div class="info">
                        <img src="assets/images/logo.png" alt="tawseel">
                        <div class="semi">
                            <h4>TAWSEEL-UAE</h4>
                            <h4 class="ar med">ساعة واحدة</h4>
                            <img src="assets/images/like.png" alt="like">
                        </div>
                        <div class="details">
                            <h4 class="ar">وفد من الداخلية يزور اليابان</h4>
                            <h4>Taw-Seel Delegation Visit Japan</h4>
                        </div>
                    </div>
                </div>
            </ng-container>
            <div class="controls">
                <div *ngFor="let dot of videoSlider; let i = index" class="dot" (click)="videoIndex = i"
                     [ngClass]="videoIndex == i ? 'active' : ''"></div>
            </div>
        </div>
    </div>
</div>
