
.join-us-section {
    text-align: center;
}

.join-us-section p {

}

.user-card div {
    display: inline-block;
    background-color: #fff;
    padding: 0 5px;
    height: 340px;
    width: 352px;
    margin-right: 51px;
    border-radius: 10px;
}

#join-title, #work-title {
    margin-bottom: 38px;

}

.user-card img {
    margin: 30px auto;
    width: auto;
    display: block;
    text-align: center;
    height: 165px;
}

.user-card {
    font-size: 32px;
    font-weight: bold;
}

.user-card p {
    font-size: 25px;
    font-weight: unset;
    color: #494949;
    font-family: 'sf-compact-display-medium', sans-serif;
}

.work-section {
    text-align: center;
}

.work-card div {
    text-align: center;
    display: inline-block;
}

#service img, #van img, #agent-service img {
    width: auto;
    height: 219px;
    display: block;
}

.work-card p {
    display: block;
    font-size: 20px;
    color: #a1a1a1;
    font-weight: 700;
}

#van {
    vertical-align: middle;
}

#arrow-right, #arrow-left {
    vertical-align: text-bottom !important;
}

.swipe-container {
    padding: 0 50px;
}

.about-right {
    width: 50%;
    display: inline-block;
    text-align: right;
}

.about-right img {
    width: calc(100% - 20px);
}

.about-left {
    width: 40%;
    display: inline-block;
    vertical-align: middle;
}

.about {
    padding: 3em 0;
}

.work-card p {
    font-size: 30px;
    color: #f6d232;
    line-height: 1;
    font-family: 'sf-compact-display-bold', sans-serif;
}

.work-card span {
    color: #a0a0a0;
    font-size: 20px;
    font-family: 'sf-compact-display-medium', sans-serif;
}

.complaints, .suggestion {
    margin: 25px;
    border-radius: 10px;
}

.info {
    padding: 25px 30px 5px 30px;
    text-align: left;
    margin: 0 25px;
}

.info-card {
    padding: 25px;
    text-align: left;
    margin: 0 25px;
}

.line {
    border-right: 5px solid #e8e8e8;
}

.col-m {
    display: inline-block;
}

.col-40 {
    width: 40%;
}

.col-50 {
    width: 50%;
}

.col-60 {
    width: 60%;
}

.slider-insta img {
    width: 350px;
    height: 275px;
}

.com-sug {
    margin: 45px;
}

.icon {
    background: gray;
}

.head {
    margin: 0 10px 15px 10px;
    text-align: left;
    padding: 0 60px;
}

.head img {
    width: 25px;
    display: inline-block;
    vertical-align: sub;
}

.head .t {
    display: inline-block;
    font-size: 18px;
    margin: 0 5px;
}

.slider-facebook {
    position: relative;
}

.slider-facebook img {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    width: 350px;
    height: 150px;
    cursor: pointer;
}

.slider-facebook .overlay {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    position: absolute;
    width: 350px;
    height: 150px;
    background: #000;
    display: inline-block;
    opacity: 0.4;
}

.slider-facebook .fa-play-circle-o {
    position: absolute;
    font-size: 100px;
    color: #fff;
    z-index: 1;
    top: 50%;
    left: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
}

.info img[alt='tawseel'] {
    width: 50px;
    height: auto;
    vertical-align: sub;
    margin: 0 10px;
}

.info img[alt='like'] {
    width: 75px;
    height: auto;
    cursor: pointer;
}

.semi {
    display: inline-block;
}

.semi * {
    display: block;
}

.med {
    margin: 5px 0;
}

.details {
    margin: 10px 20px;
    text-align: left;
}

.dot {
    background-color: #b0afaf;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin: 0 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
}

.dot.active {
    background-color: #f7d231;
}

.w-more {
    color: #fff;
    cursor: pointer;
}

.fa-long-arrow-right {
    margin: 0 5px;
}

.b-par {
    color: #000;
    font-size: 13px;
}