
.join-us-section {
    text-align: center;
}

#join-title, #work-title {
    margin-bottom: 38px;
}

.work-section {
    text-align: center;
}

.work-card div {
    text-align: center;
    display: inline-block;
}

#van {
    vertical-align: middle;
}

.swipe-container {
    padding: 0 50px;
}

.about {
    padding: 3em 0;
}

.slider-insta img {
    width: 350px;
    height: 275px;
}

.com-sug {
    margin: 45px;
}

.icon {
    background: gray;
}

.head {
    margin: 0 10px 15px 10px;
    text-align: left;
    padding: 0 60px;
}



.slider-facebook {
    position: relative;
}


.semi {
    display: inline-block;
}

.semi * {
    display: block;
}

.med {
    margin: 5px 0;
}

.dot {
    background-color: #b0afaf;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin: 0 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
}

.dot.active {
    background-color: #f7d231;
}

.w-more {
    color: #fff;
    cursor: pointer;
}

.fa-long-arrow-right,.fa-long-arrow-left {
    margin: 0 5px;
}

