/* You can add global styles to this file, and also import other style files */
@import 'assets/css/font-awesome.css';
@import 'assets/css/font-styles.css';
@import 'assets/css/deeppurple-amber.css';
@import 'assets/css/datepicker.css';

::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #e3bd34;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: #e3bd34;
}
.read-more button {
    background-color: #e1bb36;
    box-shadow: 4px 6px 0px #e0e0cf;
    height: 50px;
    width: 190px;
    border-radius: 41px;
    border: none;
    font-size: 13px;
    font-weight: 600;
}

.read-more button img {
    float: right;
    margin-right: 10px;
    height: 40px;
}

.read-more button span {
    font-size: 15px;
    float: left;
    margin-top: 8px;
    margin-left: 40px;
    font-family: 'sf-compact-display-medium';
}

/** {*/
    /*color:                    hsla(210, 100%, 100%, 0.9) !important;*/
    /*background:               hsla(210, 100%,  50%, 0.5) !important;*/
    /*outline:    solid 0.25rem hsla(210, 100%, 100%, 0.5) !important;*/
/*}*/