/* You can add global styles to this file, and also import other style files */
@import 'assets/css/font-awesome.css';

.slideshow-container[_ngcontent-c2] .slick-dots[_ngcontent-c2] li[_ngcontent-c2] button[_ngcontent-c2] {
    width: 10px !important;
    padding: 0 !important;
}

.custom-arrow {
    vertical-align: sub;
    color: #fff;
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}

.slick-active button {
    --dot-color: #f8d231 !important;
}

.slider-title {
    color: #fff;
    z-index: 5;
    font-size: 50px;
    top: 100px;
    left: 75px;
    position: absolute;
    border-bottom: 5px solid yellow;
    line-height: 0.9;
    width: 35px;
}

.slider-description {
    color: #fff;
    z-index: 5;
    font-size: 30px;
    width: 230px;
    font-weight: 100;
    top: 170px;
    line-height: 1;
    left: 75px;
    position: absolute;
}

.slider-button {
    top: 260px;
    left: 75px;
    position: absolute;
}

