<div class="im-t image-title">
    <img [src]="_appService.topImage" alt="">
    <span>{{'_ContactUs' | translate | nbsp | uppercase }}</span>
</div>
<app-breadcrumb [Breadcrumb]="[{title: '_Home', route: '/home'},
                               {title: '_ContactUs', route: ''}]"></app-breadcrumb>


<div class="container-equal">
    <div class="contact-info">
        <div class="col-xs-6 left-section font-style" *ngIf="contact != ''">
            <p [innerHtml]="contact.Content">
            </p>
        </div>
        <div class="col-xs-6 right-section">

            <div class="details">

                <h3 class="contact-desc">{{contact.Description}}</h3>
                <h3 class="contact-keyword">{{contact.Keywords}}</h3>

                <div class="info">
                    <span><i class="fa fa-fax"></i></span>
                    <span class="contact-tool">{{'_Fax' | translate}}</span>
                    <span>(416)446-3443</span>
                </div>
                <div class="info">
                    <span><i class="fa fa-envelope"></i></span>
                    <span class="contact-tool">{{'_Email' | translate}}</span>
                    <span>info@taw-seel.ae</span>
                </div>
                <div class="info">
                    <span><i class="fa fa-phone"></i></span>
                    <span class="contact-tool">{{'_Phone' | translate}}</span>
                    <span>(416)446-3443</span>
                </div>
            </div>
        </div>
        <div></div>


    </div>

    <div class="form-contact">
        <!--<div class="yellow-title"><p>{{"_Send us an email" | translate}}</p></div>-->
        <div class="yellow-title">
            <p>{{'_SendEmail' | translate}}</p>
            <span>{{'_FieldRequired' | translate}}</span>
        </div>

        <form [formGroup]="feedbackForm" autocomplete="off">
            <div class="contact-form">
                <div class="container">
                    <div class="col-sm-6">
                        <div class="item">
                            <label>
                                <span>{{'_Name' | translate}} <span class="required">*</span></span>
                                <input type="text" formControlName="name" name="name">
                                <div *ngIf="feedbackForm.controls['name'].invalid && (feedbackForm.controls['name'].dirty || feedbackForm.controls['name'].touched)">
                                    <div *ngIf="feedbackForm.controls['name'].errors.required">
                                        {{'_EmptyFiled' | translate}}
                                    </div>
                                </div>
                            </label>

                        </div>


                        <div class="item">
                            <label>
                                <span>{{'_Phone' | translate}}<span class="required">*</span></span>
                                <div class="phone-section" style="direction: ltr">
                                <span class="input25">{{'_CodePhone' | translate}}</span>
                                <input type="text" class="input70" formControlName="phone" name="phone" type="number" pattern="^[0-9]+$" onKeyPress="if(this.value.length==9) return false;">
                                </div>
                                <div *ngIf="feedbackForm.controls['phone'].invalid && (feedbackForm.controls['phone'].dirty || feedbackForm.controls['phone'].touched)">
                                    <div *ngIf="feedbackForm.controls['phone'].errors.required">
                                        {{'_EmptyFiled' | translate}}                                    </div>
                                </div>
                                <div *ngIf=" feedbackForm.controls['phone'].touched && feedbackForm.hasError('pattern', ['phone']) ">
                                    {{'_NotValidGSM'|translate }}
                                </div>



                            </label>
                            <!--<span class="hint">{{'_PhoneMSG' | translate}}</span>-->
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="item">
                            <label>
                                <span>{{'_Email' | translate}}<span class="required">*</span></span>
                                <input type="text" formControlName="email" name="email">
                                    <div *ngIf="feedbackForm.controls['email'].invalid && (feedbackForm.controls['email'].dirty || feedbackForm.controls['email'].touched)">
                                        <div *ngIf="feedbackForm.controls['email'].errors.required">
                                            {{'_EmptyFiled' | translate}}
                                        </div>
                                    </div>
                                    <div *ngIf=" feedbackForm.controls['email'].touched && feedbackForm.hasError('pattern', ['email']) ">
                                        {{'_EmailNotValid'|translate }}
                                    </div>
                            </label>
                        </div>
                        <div class="item">
                            <label>
                                <span>{{'_Emirate' | translate}}</span><span class="required">*</span>
                            </label>

                            <div class="select">
                                <select  formControlName="emirate" name="emirate">
                                    <option value="NULL" selected disabled>{{'_YourChoice' | translate}}</option>
                                    <option value="Dubai">{{'_Dubai' | translate}}</option>
                                    <option value="AbuDhabi">{{'_AbuDhabi' | translate}}</option>
                                    <option value="AlAeen">{{'_AlAeen' | translate}}</option>
                                    <option value="AlSharka">{{'_AlSharka' | translate}}</option>
                                    <option value="AumAlquewen">{{'_AumAlquewen' | translate}}</option>
                                    <option value="RasAlkhema">{{'_RasAlkhema' | translate}}</option>
                                    <option value="AlFoujera">{{'_AlFoujera' | translate}}</option>
                                </select>
                                <i class="fa fa-angle-down"></i>
                            </div>
                            <div *ngIf="feedbackForm.controls['emirate'].invalid && (feedbackForm.controls['emirate'].dirty || feedbackForm.controls['emirate'].touched)">
                                <div *ngIf="feedbackForm.controls['emirate'].errors.required">
                                    {{'_EmptyFiled' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="item">
                            <label>
                                <span>{{'_Reason' | translate}}</span><span class="required">*</span>
                            </label>

                            <div class="select">
                                <select class="custom-select" formControlName="reason" name="reason" >
                                    <option value="NULL" selected disabled>{{'_YourChoice' | translate}}</option>
                                    <option value="inquiry">{{'_Inquiry' | translate}}</option>
                                    <option value="suggestion">{{'_Suggestion' | translate}}</option>
                                    <option value="complaint">{{'_Complaint' | translate}}</option>
                                </select>
                                <i class="fa fa-angle-down"></i>
                            </div>
                            <div *ngIf="feedbackForm.controls['reason'].invalid && (feedbackForm.controls['reason'].dirty || feedbackForm.controls['reason'].touched)">
                                <div *ngIf="feedbackForm.controls['reason'].errors.required">
                                    {{'_EmptyFiled' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="item">
                            <label>
                               <span>{{'_Description' | translate}}</span> <span class="required">*</span>
                                <textarea type="text" formControlName="message" name="message"></textarea>
                                <div *ngIf="feedbackForm.controls['message'].invalid && (feedbackForm.controls['message'].dirty || feedbackForm.controls['message'].touched)">
                                    <div *ngIf="feedbackForm.controls['message'].errors.required">
                                        {{'_EmptyFiled' | translate}}
                                    </div>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="read-more">
                <button style="margin: 15px 0;"  [disabled]="!feedbackForm.valid"   (click)="sendFeedback()">
    <span>
     {{'_Send' | translate}}
    </span>
                    <img src="assets/images/arrow-read-more.PNG" alt=""></button>
            </div>
        </form>

        <div class="yellow-title sec-b" >
            <p (click)="_appService.goBackBrowser()">{{'_Back' | translate}}</p>
        </div>
    </div>
</div>

