<div class="slider-show" *ngIf="sliderData">
    <app-slideshow [imageUrls]="sliderData"></app-slideshow>
</div>

<div class="join-us-section highlight">
    <div class="yellow-title">
        <p>Join Us</p>
    </div>
    <div class="user-card">
        <div>
            <img src="assets/images/investor.PNG" alt="">
            <p>Are you an Investor?</p>
        </div>
        <div>
            <img src="assets/images/agent.PNG" alt="">
            <p>Are you an Agent?</p>
        </div>
        <div>
            <img src="assets/images/customer.PNG" alt="">
            <p>Are you an Customer?</p>
        </div>
    </div>

</div>

<div class="banner_bottom">
    <div class="yellow-title">
        <p>How it works</p>
    </div>
    <div class="work-card">
        <div id="service">
            <img src="assets/images/service.PNG" alt="">
            <span>Apply for service</span>
            <p>online</p>
        </div>
        <div id="arrow-left">
            <img src="assets/images/arrow-left.PNG" alt="">
        </div>
        <div id="van">
            <img src="assets/images/van.PNG" alt="">
            <span>van comes to</span>
            <p>location</p>
        </div>
        <div id="arrow-right">
            <img src="assets/images/arrow-right.PNG" alt="">
        </div>
        <div id="agent-service">
            <img src="assets/images/agent-service.PNG" alt="">
            <span>Agent serves the</span>
            <p>customer</p>
        </div>
    </div>
</div>


<div class="about highlight">
    <div class="about-left">
        <div class="yellow-title">
            <p>About Taw-Sell</p>
        </div>
        <div>
            <p>
                About Taw-SellAbout Taw-SellAbout Taw-SellAbout Taw-SellAbout Taw-SellAbout Taw-SellAbout
                Taw-SellAbout
                Taw-Sell
                About Taw-SellAbout Taw-SellAbout Taw-SellAbout Taw-SellAbout Taw-SellAbout Taw-SellAbout
                Taw-SellAbout
                Taw-Sell Taw-Sell
            </p>
        </div>
        <div class="read-more">
            <button style="margin: 15px 0;">
                <span>Read More</span>
                <img src="assets/images/arrow-read-more.png" alt=""></button>
        </div>
    </div>

    <div class="about-right">
        <img src="assets/images/car.png" alt="">
    </div>
</div>


<div class="banner_bottom">
    <div class="yellow-title">
        <p>Latest News</p>
    </div>
    <div>
        <app-swiper></app-swiper>
    </div>
</div>

<div class="social highlight">
    <div class="col-m col-40 line">
        <div class="com-sug">
            <div class="complaints" [style.background-image]="'url(assets/images/complaints.png)'"
                 [style.background-repeat]="'no-repeat'">
                <div class="info">
                    <h2>Complaints</h2>
                    <p>Tell us about your complaint</p>
                    <span>read more</span>
                </div>
            </div>
            <div class="suggestion" [style.background-image]="'url(assets/images/suggestions.png)'"
                 [style.background-repeat]="'no-repeat'">
                <div class="info">
                    <h2>Complaints</h2>
                    <p>Tell us about your complaint</p>
                    <span>read more</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-m col-60">
        <div class="col-m col-50">
            <div>Instagram</div>
            <div class="slider-insta">
                <app-xgallery [images]="sliderData"></app-xgallery>
            </div>
        </div>
        <div class="col-m col-50">
            <div>Instagram</div>
            <div class="slider-insta">
                <img src="assets/images/banner1.jpg">
            </div>
        </div>
    </div>
</div>
