
.join-us-section {
    text-align: center;
}

.join-us-section p {

}

.user-card div {
    display: inline-block;
    background-color: #fff;
    padding: 0 5px;
    height: 275px;
    margin-right: 51px;
    border-radius: 10px;
}

.yellow-title p {
    border-bottom: 7px solid #f5e391;
    line-height: 0.5;
    padding: 0 5px;
    font-size: 33px;
    font-weight: 600;
    margin-bottom: 25px;
    display: inline-block;
}

#join-title, #work-title {
    margin-bottom: 38px;

}

.user-card img {
    margin: 30px auto;
    display: block;
    text-align: center;
    height: 135px;
}

.user-card {
    font-size: 32px;
    font-weight: bold;
}

.user-card p {
    font-size: 20px;
    font-weight: unset;
    color: #494949;
}

.work-section {
    text-align: center;
}

.work-card div {
    text-align: center;
    display: inline-block;
}

#service img, #van img, #agent-service img {
    width: auto;
    height: 219px;
    display: block;
}

.work-card p {
    display: block;
    font-size: 20px;
    color: #a1a1a1;
    font-weight: 700;
}

#van {
    vertical-align: middle;
}

#arrow-right, #arrow-left {
    vertical-align: text-bottom !important;
}

.swipe-container {
    padding: 0 50px;
}



.about{
 text-align: center;
}

.about-right{
    margin-top: -93px;
}

.about-left{
    padding: 63px 30px;
}



.read-more button{
    background-color: #e1bb36;
    height: 50px;
    width: 172px;
    border-radius: 41px;
    font-size: 13px;
    font-weight: 600;
}