
.join-us-section {
    text-align: center;
}

.join-us-section p {

}

.user-card div {
    display: inline-block;
    background-color: #fff;
    padding: 0 5px;
    height: 340px;
    width: 352px;
    margin-right: 51px;
    border-radius: 10px;
}

.yellow-title p {
    border-bottom: 7px solid #f6e392;
    line-height: 0.5;
    padding: 0 5px;
    font-size: 33px;
    color: #494949;
    margin-bottom: 35px;
    display: inline-block;
    font-family: 'sf-compact-display-bold', sans-serif;
}

#join-title, #work-title {
    margin-bottom: 38px;

}

.user-card img {
    margin: 30px auto;
    width: auto;
    display: block;
    text-align: center;
    height: 165px;
}

.user-card {
    font-size: 32px;
    font-weight: bold;
}

.user-card p {
    font-size: 25px;
    font-weight: unset;
    color: #494949;
    font-family: 'sf-compact-display-medium', sans-serif;
}

.work-section {
    text-align: center;
}

.work-card div {
    text-align: center;
    display: inline-block;
}

#service img, #van img, #agent-service img {
    width: auto;
    height: 219px;
    display: block;
}

.work-card p {
    display: block;
    font-size: 20px;
    color: #a1a1a1;
    font-weight: 700;
}

#van {
    vertical-align: middle;
}

#arrow-right, #arrow-left {
    vertical-align: text-bottom !important;
}

.swipe-container {
    padding: 0 50px;
}

.about-right {
    width: 50%;
    display: inline-block;
    text-align: right;
}

.about-right img {
    width: calc(100% - 20px);
}

.about-left {
    width: 40%;
    display: inline-block;
    vertical-align: middle;
}

.about {
    padding: 3em 0;
}

.work-card p {
    font-size: 30px;
    color: #f6d232;
    line-height: 1;
    font-family: 'sf-compact-display-bold';
}

.work-card span {
    color: #a0a0a0;
    font-size: 20px;
    font-family: 'sf-compact-display-medium';
}