/*
 - Header
 - Footer
 - Home
 - About Us
 - Customer Registration
 - BreadCrumb
 */

/*Header*/
.top_header_two {
    height: 90px;
}

/*Footer*/
app-footer .top-footer .col-md-3 {
    text-align: right;
    padding: 25px 70px;
}

app-footer .item {
    width: 23.5%;
    display: inline-block;
    text-align: right;
    height: 200px;
    padding: 30px 55px;
    vertical-align: middle;
    margin: 0 5px;
}

app-footer .item.follow-us {
    width: 34%;
    padding: 30px 90px 0 0;
}

app-footer .fa-arrow-up {
    float: left;
}

app-footer .social i {
    margin: 10px 0 0 10px;
    border: 1px solid #8d8c8c;
    border-radius: 50%;
    width: 43px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

app-footer .item .time {
    display: inline;
    font-size: 45px;
    margin: 0 0 0 10px;
}

.footer_tawseel img {
    display: block;
    margin: 10px 0;
}

.item.quick-links {
    padding: 30px;
    width: 15%;
}

.top-footer {
    background-color: #b0afaf;
    height: 200px;
}

/*Home*/
app-home .user-card div {
    display: inline-block;
    background-color: #fff;
    padding: 0 5px;
    height: 340px;
    width: 352px;
    margin-left: 51px;
    border-radius: 10px;
}

app-home .about-right {
    width: 50%;
    display: inline-block;
    text-align: left;
}

app-home .info-card {
    padding: 25px;
    text-align: right;
    margin: 0 25px;
    transform: scaleX(-1);
}

.about-right img {
    width: calc(100% - 20px);
}

.about-left {
    width: 40%;
    display: inline-block;
    vertical-align: middle;
}

app-home .line {
    border-left: 5px solid #e8e8e8;
}

app-home .details {
    margin: 10px 20px;
}

app-home .user-card img {
    margin: 30px auto;
    width: auto;
    display: block;
    text-align: center;
    height: 165px;
}

app-home .user-card {
    font-size: 32px;
    font-weight: bold;
}

app-home .xgallery .items img {
    width: 340px;
    height: 270px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 15px;
}

app-home .slider-facebook .overlay {
    border-radius: 15px;
    position: absolute;
    width: 350px;
    height: 170px;
    background: #000;
    display: inline-block;
    opacity: 0.4;
}

app-home .slider-facebook img {
    border-radius: 15px;
    width: 350px;
    height: 170px;
    cursor: pointer;
}

app-home .slider-facebook .fa-play-circle-o {
    position: absolute;
    font-size: 100px;
    color: #fff;
    z-index: 1;
    top: 50%;
    right: 50%;
    cursor: pointer;
    -webkit-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
}

app-home .yellow-title {
    text-align: center;
}

app-home .user-card p {
    font-size: 25px;
    font-weight: normal;
    color: #494949;

}

#service img, #van img, #agent-service img {
    width: auto;
    height: 219px;
    display: block;
}

.work-card p {
    font-size: 30px;
    color: #f6d232;
    line-height: 1;

}

.work-card span {
    color: #a0a0a0;
    font-size: 20px;

}

.complaints, .suggestion {
    margin: 25px;
    border-radius: 10px;
    transform: scaleX(-1);
}

.b-par {
    color: #000;
    font-size: 13px;
}

app-home .head .t {
    display: inline-block;
    font-size: 18px;
    margin: 0 5px;
}

#arrow-right, #arrow-left {
    vertical-align: text-bottom !important;
}

.head img {
    width: 25px;
    display: inline-block;
    vertical-align: sub;
}

.info img[alt='tawseel'] {
    width: 50px;
    height: auto;
    vertical-align: sub;
    margin: 0 10px;
}

.info img[alt='like'] {
    width: 75px;
    height: auto;
    cursor: pointer;
}

/*About Us*/
app-about-us .card .item {
    margin: 0 25px;
}

/*Customer Registration*/
.input25 {
    border-radius: 20px;
    border: none;
    padding: 0 25px;
    line-height: 2.5;
    height: 45px;
    width: 25% !important;
    margin-bottom: 5px;
    margin-left: 15px;
    -webkit-box-shadow: -1px 2px 1px #e0d7d7;
    box-shadow: -1px 2px 1px #e0d7d7;
    background: #fff;
    display: inline-block !important;
}

.input70 {
    border-radius: 20px;
    border: none;
    padding: 0 25px;
    line-height: 2.5;
    height: 45px;
    width: 70% !important;
    margin: 5px 10px;
    display: inline-block;
}

#arrow-right img {
    transform: rotate(1deg) scaleX(-1);
}

#arrow-left img {
    transform: rotate(0deg) scaleX(-1);
}

app-slideshow .slideshow-container .slick-dots li button {
    width: 10px !important;
    padding: 0 !important;
}

app-slideshow .custom-arrow {
    vertical-align: sub;
    color: #fff;
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}

app-slideshow .slick-active button {
    --dot-color: #f8d231 !important;
}

app-slideshow .slider-title {
    color: #fff;
    z-index: 5;
    font-size: 50px;
    top: 100px;
    right: 75px;
    position: absolute;
    border-bottom: 5px solid yellow;
    line-height: 0.9;
    width: 35px;
}

app-slideshow .slider-description {
    color: #fff;
    z-index: 5;
    font-size: 30px;
    width: 230px;
    font-weight: 100;
    top: 170px;
    line-height: 1;
    right: 75px;
    padding: 10px 0;
    text-align: right;
    position: absolute;
}

app-slideshow .slider-button {
    top: 260px;
    right: 75px;
    position: absolute;
}

app-slideshow .learn-more {
    z-index: 5;
    width: 230px;
    top: 300px;
    right: 50px;
    color: #000;
    position: absolute;
}

/*BreadCrumb*/

.print-share {
    float: left;
}

.flow {
    text-align: right;
}

/*news*/

app-news .fa-calendar {
    display: inline;
    position: relative;
    float: left;
    left: 20px;
    bottom: 38px;
    cursor: pointer;
}

app-news .item {
    display: inline-block;
    width: 26%;
    vertical-align: top;
    margin: 0 10px;
    text-align: right;
}

/*news*/

/*contact us*/
app-contact-us .details {
    text-align: right;
}

app-contact-us .details .info span {
    margin-right: 10px;
}

app-contact-us .left-section {
    text-align: right;
}

app-contact-us .item label span {
    padding-right: 15px;
    text-align: left !important;
}

app-contact-us label {
    text-align: right;
    width: 100%;
}

app-contact-us .fa-angle-down {
    float: left;
    margin: 15px 0;
    font-size: 20px;
}

app-contact-us .left-section {
    text-align: right;
}

app-contact-us .contact-form .container {
    padding: 35px 135px;
}

app-contact-us .right-section {
    padding: 0 110px;
}

app-contact-us .input25 {
    margin-right: 11px;
}

/*contact us*/

/*details*/

.desktop-mohre-f {
    text-align: left !important;
}

.desktop-mohre {
    text-align: right !important;
    margin-bottom: 80px;
}

/*details*/

.details-img {
    border-radius: 50%;
    margin-top: 100px;
    width: 350px !important;
    height: 350px !important;
    box-shadow: -24px 8px 1px #f1f1f1;
}

app-news .news-card {
    width: 22.90%;
    padding: 15px;
    display: inline-block;
    margin: 15px;
    background-color: #f5f4f4;
    border-radius: 20px;
    cursor: pointer;
}

.logo-right {
    float: left;
    padding: 5px 75px;
}

.logo-left {
    float: right;
    padding: 5px 75px;
}

.header-one-content {
    font-size: 10px;
    display: inline-block;
    font-weight: 900;
    margin-left: 70px;
    color: #000;
}

.top_header_one {
    background-color: #f8d231;
    padding: 8px 0;
    text-align: left;
}

/*media center*/

app-media-center .feedback-slider .item {
    width: 45%;
    text-align: right;
    margin: 20px;
    display: inline-block;
}

/*app-media-center .c-feedback .desc {*/
/*padding: 0 500px;*/
/*}*/

app-media-center .user-card div {
    display: inline-block;
    background-color: #fff;
    padding: 0 5px;
    height: 340px;
    width: 352px;
    margin-right: 51px;
    border-radius: 10px;
}

app-media-center .feedback-slider .item {
    width: 45%;
    text-align: right;
    margin: 20px;
    display: inline-block;
}

app-media-center .yellow-title {
    padding: 0 75px;
}

app-slider .information-container {
    padding: 0 30%;
    height: 12em;
}
